<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Grid Using Float - Demo</title>
		<!-- css begin -->
		<link rel="stylesheet" href="/public/css/lib/reset/normalize.css" />
		<link rel="stylesheet" href="/public/css/lib/googlePrettify/sonsOfObsidian.css" />
		<link rel="stylesheet" href="/public/css/module/demo.css" />
		<link rel="stylesheet" href="/public/uiSnippet/gridUsingFloat/style.css" />

		<style>
		.demo-container .row {
			border-bottom: 1px solid #cccccc;
		}
		.demo-container p {
			margin: 0;
		}
		</style>
		<!-- css end -->
	</head>
	<body>

		<div class="demo-wrap">
		<!-- doc-wrap begin -->
			<div class="demo-container">
			<!-- demo-container begin -->
				<div class="grid-c">
				<!-- grid-c begin -->
					<div class="row">
					<!-- row begin -->
						<div class="col-a">
							<p>Row 1 Col 1</p>
						</div>
						<div class="col-b">
							<p>Row 1 Col 2</p>
						</div>
						<div class="col-c">
							<p>Row 1 Col 3</p>
						</div>
						<div class="col-d">
							<p>Row 1 Col 4</p>
						</div>
					<!-- row end -->
					</div>
					<div class="row">
					<!-- row begin -->
						<div class="col-a">
							<p>Row 2 Col 1</p>
						</div>
						<div class="col-b">
							<p>Row 2 Col 2</p>
						</div>
						<div class="col-c">
							<p>Row 2 Col 3</p>
						</div>
						<div class="col-d">
							<p>Row 2 Col 4</p>
						</div>
					<!-- row end -->
					</div>
				<!-- grid-c end -->
				</div>
			<!-- demo-container end -->
			</div>
		<!-- doc-wrap end -->
		</div>

	</body>
</html>
