<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template - UI Snippet</title>
		<!-- css begin -->
		<link rel="stylesheet" href="/public/css/lib/reset/normalize.css" />
		<link rel="stylesheet" href="/public/css/lib/googlePrettify/sonsOfObsidian.css" />
		<link rel="stylesheet" href="/public/css/module/render.css" />
		<!-- css end -->
	</head>
	<body>

		<div class="doc-wrap wiki">
		<!-- doc-wrap begin -->
			<header class="page-header">
			<!-- page-header template goes here -->
			</header>
			<div class="wrapper">
			<!-- wrapper begin -->
				<nav class="page-navigation">
				<!-- page-navigation template goes here -->
				</nav>
				<div class="page-content">
				<!-- page-content begin -->
					<section class="snippet">
					<!-- snippet begin -->
						<div class="hgroup">
							<h2 class="title">HTML markup template(s)</h2>
						</div>
						<section class="snippet-section">
						<!-- snippet-src-code begin -->
							<div class="toggle-title">
							<!-- toggle-title begin -->
								<h2 class="title" tabindex="0">Template Markup</h2>
							<!-- toggle-title end -->
							</div>		
							<div class="toggle-content">
							<!-- toggle-content begin -->					
								<div class="tabs-container">
								<!-- tabs-container begin -->
									<ul class="tabs-heading">
									<!-- tabs-heading begin -->
										<li><a href="#tabbedMarkup1">Page Template</a></li>
										<li><a href="#tabbedMarkup2">Demo Template</a></li>
										<li><a href="#tabbedMarkup3">Wiki Template</a></li>
									<!-- tabs-heading end -->
									</ul>
									<div class="tabs-content">
									<!-- tabs-content begin -->
										<div id="tabbedMarkup1">
											<h3 class="sub-title">Page Template ( /public/tmpl/module/pageMarkup.tmpl )</h3>
											<pre class="prettyprint linenums insMarkupPage">
											</pre>
										</div>
										<div id="tabbedMarkup2">
											<h3 class="sub-title">Demo Template ( /public/tmpl/module/demoMarkup.tmpl )</h3>
											<pre class="prettyprint linenums insMarkupDemo">
											</pre>
										</div>
										<div id="tabbedMarkup3">
											<h3 class="sub-title">Wiki Template ( /public/tmpl/module/wikiMarkup.tmpl )</h3>
											<pre class="prettyprint linenums insMarkupWiki">
											</pre>
										</div>
									<!-- tabs-content end -->
									</div>
									<div class="clrflt"></div>
								<!-- tabs-container end -->
								</div>
							<!-- toggle-content end -->
							</div>
						<!-- snippet-src-code end -->
						</section>
					<!-- snippet end -->
					</section>
				<!-- page-content end -->
				</div>
			<!-- wrapper end -->
			</div>

		<!-- doc-wrap end -->
		</div>
		
		<div class="loader">
			<div class="msg">
				<span>loading ...</span>
			</div>
		</div>

		<!-- script begin -->
		<script src="/public/script/lib/requirejs/require.js"></script>
		<script>
			require( ["/public/script/config/pathConfig.js"], function( ) {
				require( [ "init" ], function( app ) {
					app.preInit();
					require( [ "jquery", "text!pageMarkup", "text!demoMarkup", "text!wikiMarkup" ], function( $, markupPage, markupDemo, markupWiki ) {
						$(".insMarkupPage").html( app.encodeHtml( markupPage ) );
						$(".insMarkupDemo").html( app.encodeHtml( markupDemo ) );
						$(".insMarkupWiki").html( app.encodeHtml( markupWiki ) );
						app.postInit();
					} );
				} );				
			})
		</script>
		<!-- script end -->

	</body>
</html>
