<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Truncate Text With Ellipse - UI Snippet</title>
		<!-- css begin -->
		<link rel="stylesheet" href="/public/css/lib/reset/normalize.css" />
		<link rel="stylesheet" href="/public/css/lib/googlePrettify/sonsOfObsidian.css" />
		<link rel="stylesheet" href="/public/css/module/render.css" />
		<link rel="stylesheet" href="/public/uiSnippet/grid/default/grid.css" />
		<link rel="stylesheet" href="/public/uiSnippet/tabbedNavigation/default/tabbedNavigation.css" />
		<link rel="stylesheet" href="/public/uiSnippet/truncateTextWithEllipse/default/truncateTextWithEllipse.css" />
		<!-- css end -->
	</head>
	<body>

		<div class="doc-wrap truncateTextWithEllipse">
		<!-- doc-wrap begin -->
			<header class="page-header">
			<!-- page-header template goes here -->
			</header>
			<div class="wrapper">
			<!-- wrapper begin -->
				<nav class="page-navigation">
				<!-- page-navigation template goes here -->
				</nav>
				<div class="page-content">
				<!-- page-content begin -->
					<h1 class="title">Truncate Text With Ellipse</h1>
					<section class="snippet">
					<!-- section begin -->
						<h1 class="title">Truncate Text With Ellipse</h1>
						<div class="tabs-container">
							<ul class="tabs-heading">
								<li><a href="#tabbedMarkup">Markup</a></li>
								<li><a href="#tabbedStyle">Style</a></li>
								<li><a href="#tabbedNotes">Notes</a></li>
							</ul>
							<div class="tabs-content">
								<div id="tabbedMarkup">
									<h2 class="title">Markup</h2>
									<pre class="prettyprint linenums insertHtmlTruncateTextWithEllipse">
									</pre>
								</div>
								<div id="tabbedStyle">
									<h2 class="title">Style</h2>
									<pre class="prettyprint linenums insertCssTruncateTextWithEllipse">
									</pre>
								</div>
								<div id="tabbedNotes">
									<h2 class="title">Notes</h2>
									<div class="insertNotesTruncateTextWithEllipse">
									</div>									
								</div>
							</div>
							<div class="clrflt"></div>
						</div>
					<!-- section end -->
					</section>
				<!-- page-content end -->
				</div>
			<!-- wrapper end -->
			</div>

		<!-- doc-wrap end -->
		</div>
		
		<div class="loader">
			<div class="msg">
				<span>loading ...</span>
			</div>
		</div>

		<!-- script begin -->
		<script src="/public/script/lib/requirejs/require.js"></script>
		<script>
			require( ["/public/script/config/pathConfig.js"], function( ) {
				require( [ "init" ], function( app ) {
					app.preInit();
					require( [ "jquery", "text!htmlTruncateTextWithEllipse", "text!cssTruncateTextWithEllipse", "text!notesTruncateTextWithEllipse" ], function( $, htmlTruncateTextWithEllipse, cssTruncateTextWithEllipse, notesTruncateTextWithEllipse ) {
						$(".insertHtmlTruncateTextWithEllipse").html( app.encodeHtml( htmlTruncateTextWithEllipse ) );
						$(".insertCssTruncateTextWithEllipse").html( cssTruncateTextWithEllipse );
						$(".insertNotesTruncateTextWithEllipse").html( notesTruncateTextWithEllipse );
						app.postInit();
					} );
				} );				
			})
		</script>
		<!-- script end -->

	</body>
</html>
