<div class="grid-c">
<!-- grid-c begin -->
	<div class="row">
	<!-- row begin -->
		<div class="col-a">
			<p>Row 1 Col 1</p>
		</div>
		<div class="col-b">
			<p>Row 1 Col 2</p>
		</div>
		<div class="col-c">
			<p>Row 1 Col 3</p>
		</div>
		<div class="col-d">
			<p>Row 1 Col 4</p>
		</div>
	<!-- row end -->
	</div>
	<div class="row">
	<!-- row begin -->
		<div class="col-a">
			<p>Row 2 Col 1</p>
		</div>
		<div class="col-b">
			<p>Row 2 Col 2</p>
		</div>
		<div class="col-c">
			<p>Row 2 Col 3</p>
		</div>
		<div class="col-d">
			<p>Row 2 Col 4</p>
		</div>
	<!-- row end -->
	</div>
<!-- grid-c end -->
</div>
