<div class="slide-box">
    <!-- slide-box begin -->
    <div class="slide-wrap">
    <!-- slide-wrap begin -->
        <div class="slide-ctrl" tabindex="0"></div>
        <div class="slide-container">
        <!-- slide-container begin -->
        
        <!-- slide-container end -->
        </div>
    <!-- slide-wrap container -->
    </div>
    <!-- slide-box end -->
</div>
