<div class="grid-a">
<!-- grid-a begin -->
	<div class="row">
	<!-- row begin -->
		<div class="col-a">
			<strong>Dependency</strong>
		</div>
		<div class="col-b">
			HTML, CSS3, JQuery, RequireJS
		</div>
	<!-- row end -->
	</div>
	<div class="row">
	<!-- row begin -->
		<div class="col-a">
			<strong>Browser Support</strong>
		</div>
		<div class="col-b">
			Chrome latest, Firefox latest, Safari latest, IE latest
		</div>
	<!-- row end -->
	</div>
	<div class="row">
	<!-- row begin -->
		<div class="col-a">
			<strong>Usage</strong>
		</div>
		<div class="col-b">
			slider
		</div>
	<!-- row end -->
	</div>
<!-- grid-a end -->
</div>
