.slide-box,
.slide-wrap,
.slide-container {
    box-sizing: border-box;
}
.slide-box {
    display: inline-block;
    border: 1px solid #ccc;
    position: relative;
}
.slide-box.prep {
    overflow: hidden;
}
.slide-wrap {
    padding: 20px;
}
.slide-ctrl.a {
    background: green;
    left: 3px;
    width: 10px;
}
.slide-container {
    width: 200px;
    height: 200px;
    background: rgba(189, 90, 120, 0.2);
}
.slide-ctrl {
    position: absolute;
    right: 2px;
    top: 20px;
    z-index: 150;
    min-width: 15px;
    min-height: 15px;
    background: rgba(0, 0, 155, .5);
    cursor: pointer;
}
