<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Grid Using Float - UI Snippet</title>
		<!-- css begin -->
		<link rel="stylesheet" href="/public/css/lib/reset/normalize.css" />
		<link rel="stylesheet" href="/public/css/lib/googlePrettify/sonsOfObsidian.css" />
		<link rel="stylesheet" href="/public/css/module/render.css" />
		<!-- css end -->
	</head>
	<body>

		<div class="doc-wrap">
		<!-- doc-wrap begin -->
			<header class="page-header">
			<!-- page-header template goes here -->
			</header>
			<div class="wrapper">
			<!-- wrapper begin -->
				<nav class="page-navigation">
				<!-- page-navigation template goes here -->
				</nav>
				<div class="page-content">
				<!-- page-content begin -->
					<section class="snippet">
					<!-- snippet begin -->
						<div class="hgroup">
							<h2 class="title">Grid Using Float</h2>
						</div>
						<section class="snippet-section snippet-src-code">
						<!-- snippet-src-code begin -->
							<div class="toggle-title">
							<!-- toggle-title begin -->
								<h2 class="title" tabindex="0">Source Code</h2>
							<!-- toggle-title end -->
							</div>		
							<div class="toggle-content">
							<!-- toggle-content begin -->					
								<div class="tabs-container">
								<!-- tabs-container begin -->
									<ul class="tabs-heading">
									<!-- tabs-heading begin -->
										<li><a href="#tabbedMarkup1">Markup ( Two Column )</a></li>
										<li><a href="#tabbedMarkup2">Markup ( Three Column )</a></li>
										<li><a href="#tabbedMarkup3">Markup ( Four Column )</a></li>
										<li><a href="#tabbedMarkup4">Markup ( Five Column )</a></li>
										<li><a href="#tabbedStyle">Style</a></li>
										<li><a href="#tabbedNotes">Notes</a></li>
									<!-- tabs-heading end -->
									</ul>
									<div class="tabs-content">
									<!-- tabs-content begin -->
										<div id="tabbedMarkup1">
											<h3 class="sub-title">Markup ( Two Column )</h3>
											<pre class="prettyprint linenums insMarkup1">
											</pre>
										</div>
										<div id="tabbedMarkup2">
											<h3 class="sub-title">Markup ( Three Column )</h3>
											<pre class="prettyprint linenums insMarkup2">
											</pre>
										</div>
										<div id="tabbedMarkup3">
											<h3 class="sub-title">Markup ( Four Column )</h3>
											<pre class="prettyprint linenums insMarkup3">
											</pre>
										</div>
										<div id="tabbedMarkup4">
											<h3 class="sub-title">Markup ( Five Column )</h3>
											<pre class="prettyprint linenums insMarkup4">
											</pre>
										</div>
										<div id="tabbedStyle">
											<h3 class="sub-title">Style</h3>
											<pre class="prettyprint linenums insStyle">
											</pre>
										</div>
										<div id="tabbedNotes">
											<h3 class="sub-title">Notes</h3>
											<div class="insNotes">
											</div>									
										</div>
									<!-- tabs-content end -->
									</div>
									<div class="clrflt"></div>
								<!-- tabs-container end -->
								</div>
							<!-- toggle-content end -->
							</div>
						<!-- snippet-src-code end -->
						</section>
						<section class="snippet-section snippet-demo">
						<!-- snippet-demo begin -->
							<div class="toggle-title">
							<!-- toggle-title begin -->
								<h2 class="title" tabindex="0">Demo</h2>
							<!-- toggle-title end -->
							</div>
							<div class="toggle-content">
							<!-- toggle-content begin -->
								<div class="tabs-container">
								<!-- tabs-container begin -->
									<ul class="tabs-heading">
									<!-- tabs-heading begin -->
										<li><a href="#tabbedDemo1">Two Column Grid</a></li>
										<li><a href="#tabbedDemo2">Three Column Grid</a></li>
										<li><a href="#tabbedDemo3">Four Column Grid</a></li>
										<li><a href="#tabbedDemo4">Five Column Grid</a></li>
										<li><a href="#tabbedDemo5">Nested Grid</a></li>
									<!-- tabs-heading end -->
									</ul>
									<div class="tabs-content">
									<!-- tabs-content begin -->
										<div id="tabbedDemo1">
											<h3 class="sub-title">
												Two Column Grid <a href="demo/twoColumnGrid.html" target="_blank" class="demo-new-window">view in new window</a>
											</h3>
											<iframe src="demo/twoColumnGrid.html" class="demo-view" scrolling="no"></iframe>	
										</div>
										<div id="tabbedDemo2">
											<h3 class="sub-title">
												Three Column Grid <a href="demo/threeColumnGrid.html" target="_blank" class="demo-new-window">view in new window</a>
											</h3>
											<iframe src="demo/threeColumnGrid.html" class="demo-view" scrolling="no"></iframe>	
										</div>
										<div id="tabbedDemo3">
											<h3 class="sub-title">
												Four Column Grid <a href="demo/fourColumnGrid.html" target="_blank" class="demo-new-window">view in new window</a>
											</h3>
											<iframe src="demo/fourColumnGrid.html" class="demo-view" scrolling="no"></iframe>	
										</div>
										<div id="tabbedDemo4">
											<h3 class="sub-title">
												Five Column Grid <a href="demo/fiveColumnGrid.html" target="_blank" class="demo-new-window">view in new window</a>
											</h3>
											<iframe src="demo/fiveColumnGrid.html" class="demo-view" scrolling="no"></iframe>	
										</div>
										<div id="tabbedDemo5">
											<h3 class="sub-title">
												Nested Grid <a href="demo/nestedGrid.html" target="_blank" class="demo-new-window">view in new window</a>
											</h3>
											<iframe src="demo/nestedGrid.html" class="demo-view" scrolling="no"></iframe>	
										</div>
									<!-- tabs-content end -->
									</div>
									<div class="clrflt"></div>
								<!-- tabs-container end -->
								</div>
							<!-- toggle-content end -->
							</div>
						<!-- snippet-demo end -->
						</section>
					<!-- snippet end -->
					</section>
				<!-- page-content end -->
				</div>
			<!-- wrapper end -->
			</div>

		<!-- doc-wrap end -->
		</div>
		
		<div class="loader">
			<div class="msg">
				<span>loading ...</span>
			</div>
		</div>

		<!-- script begin -->
		<script src="/public/script/lib/requirejs/require.js"></script>
		<script>
			require( ["/public/script/config/pathConfig.js"], function( ) {
				require( [ "init" ], function( app ) {
					app.preInit();
					require( [ "jquery", "text!htmlGridUsingFloatTwoColumn", "text!htmlGridUsingFloatThreeColumn", "text!htmlGridUsingFloatFourColumn", "text!htmlGridUsingFloatFiveColumn", "text!cssGridUsingFloat", "text!notesGridUsingFloat" ], function( $, markupTwoColumn, markupThreeColumn, markupFourColumn, markupFiveColumn, style, behaviour ) {
						$(".insMarkup1").html( app.encodeHtml( markupTwoColumn ) );
						$(".insMarkup2").html( app.encodeHtml( markupThreeColumn ) );
						$(".insMarkup3").html( app.encodeHtml( markupFourColumn ) );
						$(".insMarkup4").html( app.encodeHtml( markupFiveColumn ) );
						$(".insStyle").html( style );
						$(".insNotes").html( behaviour );
						app.postInit();
					} );
				} );				
			})
		</script>
		<!-- script end -->

	</body>
</html>
