/**
 * standalone CSS file for rendering web-page
 * @file render.css
 *
 * reset / generic 		- reset specific to the page at element level and class level
 *						  ( doc-wrap )
 * typography			- include font-face
 * component			- reusable components
 * 						  ( loader, tabs-container )
 * layout 				- layout specific to the page
 *						  ( page-header, page-navigation, page-content, snippet )
 */

/**
 * doc-wrap begin ( reset / generic )
 */
*,
*:after,
*:before {
	box-sizing: border-box;
}
body {
	background: #ffffff;
}
.doc-wrap {
	opacity: 0;
	font-family: openSansRegular, arial;
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	border-bottom: 10px solid #428bca;
	height: 100%;
	position: relative;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
    transition: opacity .3s;
}
.doc-wrap.reveal {
	opacity: 1;
	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
    transition: opacity .6s;
}
.doc-wrap:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	box-shadow: -1px -1px 3px #333333;
	height: 2px;
}
.doc-wrap h1 {
	font-size: 2.5em;
	line-height: 1.3;
	margin: 0 0 10px 0;
}
.doc-wrap h2 {
	font-size: 2.14em;
	line-height: 1.3;
	margin: 0 0 10px 0;
}
.doc-wrap p {
	margin: 0 0 10px 0;
}
.doc-wrap ul,
.doc-wrap ol {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}
.doc-wrap a,
.doc-wrap a:link {
	color: #428bca;
	text-decoration: none;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
    transition: all .6s;
}
.doc-wrap a:hover {
	text-decoration: underline;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
    transition: all .6s;
}
.doc-wrap [tabindex] {
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
    transition: all .6s;	
}
.doc-wrap a:focus,
.doc-wrap [tabindex]:focus {
	outline: 2px solid #333333;
	position: relative;
	z-index: 100;
}
.doc-wrap .show {
	display: block;
}
.doc-wrap .hide {
	display: none;
}
.doc-wrap .enfold {
	padding: 0 10px;
}
.doc-wrap .title,
.doc-wrap .sub-title {
	font-family: openSansLight, arial;
	letter-spacing: .01em;
	font-weight: 500;
}
.doc-wrap ol.linenums {
	margin: 0 0 0 40px;
}
.doc-wrap .visual-hide {
	position: absolute;
	left: -999em;
	top: -999em;
}
/**
 * doc-wrap end ( reset / generic )
 */

/**
 * font-face begin ( typography )
 */
@font-face {
    font-family: 'openSansRegular';
    src: url('/public/font/opensans-regular-webfont.eot');
    src: url('/public/font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/font/opensans-regular-webfont.woff') format('woff'),
         url('/public/font/opensans-regular-webfont.ttf') format('truetype'),
         url('/public/font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'openSansLight';
    src: url('/public/font/opensans-light-webfont.eot');
    src: url('/public/font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/font/opensans-light-webfont.woff') format('woff'),
         url('/public/font/opensans-light-webfont.ttf') format('truetype'),
         url('/public/font/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'openSansItalic';
    src: url('/public/font/opensans-italic-webfont.eot');
    src: url('/public/font/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/font/opensans-italic-webfont.woff') format('woff'),
         url('/public/font/opensans-italic-webfont.ttf') format('truetype'),
         url('/public/font/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'openSansLightItalic';
    src: url('opensans-lightitalic-webfont.eot');
    src: url('opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-lightitalic-webfont.woff') format('woff'),
         url('opensans-lightitalic-webfont.ttf') format('truetype'),
         url('opensans-lightitalic-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'openSansBold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype'),
         url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**
 * font-face end ( typography )
 */

/**
 * tabs-container begin ( component )
 */
.tabs-container {
    border: 1px solid #cccccc;
    width: 100%;
    min-height: 100px;
    background: #efefef;
    margin: 0;
    position: relative;
    background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(239,239,239,1) 0%, rgba(239,239,239,1) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(239,239,239,1)), color-stop(24%,rgba(239,239,239,1)), color-stop(25%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(239,239,239,1) 24%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(239,239,239,1) 24%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(239,239,239,1) 24%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(239,239,239,1) 0%,rgba(239,239,239,1) 24%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}
.tabs-container .clrflt {
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.tabs-container:before {
	content: "";
	display: block;
	height: 100%;
	border-right: 1px solid #cccccc;
	position: absolute;
	top: 0;
	left: 24.91%;
}
.tabs-container .tabs-heading {
	position: relative;
    float: left;
    width: 25%;
}
.tabs-heading a {
    display: block;
    padding: 9px 6px;
    background: #efefef;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.tabs-heading .active-tab {
    background: #ffffff;
    border-right: none;
}
.tabs-container .tabs-content {
    margin-left: 25%;
    padding: 0 9px 9px 9px;
    background: #ffffff;
}
.tabs-content > div {
	display: none;
	background: #ffffff;
}
.tabs-content .active-tab {
	display: block;    
}
.tabs-content .title {
    background: #ffffff;
    color: #333333;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #cccccc;
}
@media screen and ( max-width: 759px ) {
	.tabs-container {
		background: none;
	}
	.tabs-container:before {
		display: none;
	}
	.tabs-container .tabs-heading {
		width: 100%;
		float: none;
		margin: 0;
		background: #efefef;
	}
	.tabs-heading:after {
		content: "";
		display: block;
		clear: both;
		height: 0;
		line-height: 0;
	}
	.tabs-heading li {
		float: left;
		width: 25%;
	}
	.tabs-heading a {
		text-align: center;
	}
	.tabs-heading .active-tab {
		border-right: 1px solid #cccccc;
		border-bottom: 1px solid #ffffff;
	}
	.tabs-container .tabs-content {
		margin: 1px 0 0 0;
		padding: 0;
	}
	.tabs-content > div {
		padding: 6px;
	}
}
/**
 * tabs-container end ( component )
 */

/**
 * page-content begin ( layout )
 */
.toggle-title {
}
.toggle-content.disp {
	display: block;
}
.toggle-content.no-disp {
	display: none;
}
/**
 * page-content end ( layout )
 */

/**
 * loader begin ( component )
 */
.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #eeeeee;
	background: rgba(0, 0, 0, .2);
	-webkit-transition: height .6s;
	-moz-transition: height .6s;
    transition: height .6s;
}
.loader.hide {
	top: -100%;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
.loader .msg {
	width: 100%;
	position: absolute;
	top: 40%;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	color: #000000;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s;
}
.loader.hide .msg {
	display: none;
}
/**
 * loader end ( component )
 */

/**
 * page-header begin ( layout )
 */
.page-header {
	background: #428bca;
	color: #ffffff;
	padding: 5px 0;
	box-shadow: 1px 1px 3px #333333;
}
.page-header .title {
	margin: 0;
}
.page-header .hint {
	margin: 0;
	text-decoration: underline;
}
/**
 * page-header end ( layout )
 */

/**
 * page-navigation begin ( layout )
 */
.page-navigation {
	margin: 1px 0 10px 0;
	padding: 10px 10px 0;
	width: 20%;
	float: left;
	max-height: 500px;
	overflow: auto;
	border-right: 1px solid #cccccc;
}
.page-navigation:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
}
.page-navigation .nav-list {
	border-bottom: 1px solid #cccccc;
	padding: 1px 0;
}
.page-navigation a {
	display: block;
	width: 100%;
	font-family: "openSansItalic", arial;
	font-size: 18px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page-navigation a:hover,
.page-navigation a:focus {
	text-overflow: initial;
	overflow: auto;
}
/**
 * page-navigation end ( layout )
 */

/**
 * page-content begin ( layout )
 */
.page-content {
	margin: 1px 0 0 20%;
	padding: 10px 10px 0 10px;
	/*min-height: 320px;*/
}
/**
 * page-content end ( layout )
 */

/**
 * grid begin ( component )
 */
[class*="grid-"],
[class*="grid-"] .row
[class*="grid-"] [class*="grid-"] {
	box-sizing: border-box;
}
[class*="grid-"],
[class*="grid-"] .row {
	width: 100%;
	padding: 0 0 6px 0;
}
[class*="grid-"] [class*="grid-"] .row,
[class*="grid-"] .row:last-of-type {
	padding: 0;
}
[class*="grid-"] .row:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
}
[class*="grid-"] [class*="col-"] {
	float: left;
	padding: 6px;
}
[class*="grid-"] [class*="grid-"] [class*="col-"] {
	padding-top: 0;
	padding-bottom: 0;
}
.grid-a [class*="col-"] {
	width: 50%;
}
.grid-b [class*="col-"] {
	width: 33.3%;
}
.grid-c [class*="col-"] {
	width: 25%;
}
.grid-d [class*="col-"] {
	width: 20%;
}
/**
 * grid end ( component )
 */
 
/**
 * snippet begin ( layout )
 */
.snippet .hgroup {
	border-bottom: 1px solid #cccccc;
	margin: -5px 0 10px 0;
}
.snippet .hgroup .title {
	margin: 0;
}
.snippet .hgroup .sub-title {
	margin: 0;
	padding: 3px 0 3px 3px;
	font-size: 1.5em;
	background: #ffffff;
	color: #333333;
}
.snippet p {
	margin-left: 3px;
}
.snippet .snippet-section {
	border-bottom: 1px solid #cccccc;
	margin: 0 0 10px 0;
}
.snippet .snippet-section .title {
	display: block;
	margin: 0;
	padding: 3px 0 3px 12px;
	font-size: 1.5em;
	background: #428bca;
	color: #eeeeee;
	cursor: pointer;	
}
.snippet .snippet-section .sub-title {
	background: #ffffff;
	color: #333333;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #cccccc;
	font-size: 1.88em;
}
.snippet .snippet-section .demo-new-window {
	font-size: .5em;
}
.snippet .snippet-section .demo-view {
	border: none;
	width: 100%;
	height: 500px;
	overflow: auto;
}
.snippet .snippet-section .tabs-content {
	min-height: 500px;
	overflow: auto;
}
.snippet .snippet-section .tabs-content > div {
	height: 100%;
}
.snippet .snippet-section .prettyprint {
	margin: 0;
	max-height: 450px;
}
.snippet .snippet-src-code .toggle-content {
	display: none;
}
/**
 * snippet end ( layout )
 */


