<ul>
	<li class="nav-list">
		<a href="/view/index/index.html" class="home">Home</a>
	</li>
	<li class="nav-list">
		<a href="/view/grid/index.html" class="gridUsingFloat">Grid Using float</a>
	</li>
	<li class="nav-list">
		<a href="/view/truncateTextWithEllipse/index.html" class="truncateTextWithEllipse">Truncate Text With Ellipse</a>
	</li>
	<li class="nav-list">
		<a href="/view/tabbedNavigation/index.html" class="tabbedNavigation">Tabbed Navigation</a>
	</li>
</ul>