<ul>
	<li class="row">
		<a href="/view/index/index.html" class="int-link home">Home</a>
	</li>
	<li class="row">
		<a href="/view/grid/index.html" class="int-link grid">Grid</a>
	</li>
	<li class="row">
		<a href="/view/truncateTextWithEllipse/index.html" class="int-link truncate-text-with-ellipse">Truncate Text With Ellipse</a>
	</li>
</ul>