<h2 class="visual-hide">Navigation</h2>
<ul>
	<li class="nav-list">
		<a href="/view/index/index.html">Home</a>
	</li>
	<li class="nav-list">
		<a href="/view/gridUsingFloat/index.html">Grid Using float</a>
	</li>
	<li class="nav-list">
		<a href="/view/truncateTextWithEllipse/index.html">Truncate Text With Ellipse</a>
	</li>
	<li class="nav-list">
		<a href="/view/tabbedNavigation/index.html">Tabbed Navigation</a>
	</li>
</ul>